build/
rust_lib/target/
vcpkg/
CMakeCache.txt
CMakeFiles/
.devenv/
.devenv.flake.nix
devenv.lock
duckdb_unittest_tempdir/
.idea
cmake-build-debug
.DS_Store
testext
test/python/__pycache__/
.Rhistory

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
